In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('E:\\project_data\\final2009.csv')

In [3]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2009-01-01,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.OP_CARRIER.unique()

array(['XE', 'YV', 'NW', 'OH', 'OO', 'UA', 'US', 'WN', 'EV', 'F9', 'FL',
       'HA', 'MQ', '9E', 'AA', 'AS', 'B6', 'CO', 'DL'], dtype=object)

In [5]:
df["FL_DATE"] = pd.to_datetime(df["FL_DATE"])

In [6]:
st="2009-01-01"
ed="2009-01-30"
temp = (df["FL_DATE"] > st) & (df["FL_DATE"] <= ed)
df1 = df.loc[temp]

In [7]:
df1

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
16237,2009-01-02,9E,2102,AUS,IND,1655,1704.0,9.0,13.0,1717.0,...,155.0,144.0,124.0,920.0,NaN,NaN,NaN,NaN,NaN,NaN
16238,2009-01-02,9E,2103,IND,AUS,1445,1500.0,15.0,12.0,1512.0,...,150.0,149.0,130.0,920.0,NaN,NaN,NaN,NaN,NaN,NaN
16239,2009-01-02,9E,2108,OKC,MSP,700,659.0,-1.0,28.0,727.0,...,135.0,137.0,96.0,695.0,NaN,NaN,NaN,NaN,NaN,NaN
16240,2009-01-02,9E,2109,MSP,OKC,2130,2129.0,-1.0,21.0,2150.0,...,133.0,125.0,100.0,695.0,NaN,NaN,NaN,NaN,NaN,NaN
16241,2009-01-02,9E,2110,OKC,MSP,1745,1739.0,-6.0,13.0,1752.0,...,132.0,114.0,94.0,695.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518153,2009-01-30,CO,1883,STT,EWR,1515,1553.0,38.0,13.0,1606.0,...,271.0,240.0,219.0,1634.0,NaN,NaN,NaN,NaN,NaN,NaN
518154,2009-01-30,CO,1884,EWR,STT,915,1026.0,71.0,14.0,1040.0,...,250.0,225.0,205.0,1634.0,46.0,0.0,0.0,0.0,0.0,NaN
518155,2009-01-30,CO,1889,IAH,SMF,1827,1836.0,9.0,16.0,1852.0,...,264.0,235.0,214.0,1609.0,NaN,NaN,NaN,NaN,NaN,NaN
518156,2009-01-30,CO,1890,SNA,IAH,855,854.0,-1.0,9.0,903.0,...,189.0,175.0,158.0,1347.0,NaN,NaN,NaN,NaN,NaN,NaN
518157,2009-01-30,CO,1893,SMF,IAH,1225,1221.0,-4.0,11.0,1232.0,...,220.0,232.0,205.0,1609.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [22]:
df['OP_CARRIER'].replace({
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines',
    'NW':'Northwest Airlines',
    'US':'US Airways',
    'FL':'AirTran',
    'CO':'Continental Airlines',
    'XE':'ExpressJet Airlines'
},inplace=True)

In [23]:
df.OP_CARRIER.unique()

array(['ExpressJet Airlines', 'Mesa Airline', 'Northwest Airlines',
       'PSA Airlines', 'SkyWest Airlines', 'United Airlines',
       'US Airways', 'Southwest Airlines', 'ExpressJet',
       'Frontier Airlines', 'AirTran', 'Hawaiian Airlines', 'Envoy Air',
       'Endeavor Air', 'American Airlines', 'Alaska Airlines',
       'JetBlue Airways', 'Continental Airlines', 'Delta Airlines'],
      dtype=object)

In [25]:
df.to_csv('E:\\project_data\\final2009_extend.csv')

In [13]:
df.OP_CARRIER

0                 XE
1                 XE
2                 XE
3                 XE
4                 XE
             ...
999993    US Airways
999994    US Airways
999995    US Airways
999996    US Airways
999997    US Airways
Name: OP_CARRIER, Length: 999998, dtype: object

In [14]:
s=pd.Series(df.OP_CARRIER)

In [17]:
s.drop(labels='XE',axis=0)

KeyError: "['XE'] not found in axis"

In [18]:
df.drop(labels='XE',level=1)

AssertionError: axis must be a MultiIndex

In [21]:
df.drop('XE')

KeyError: "['XE'] not found in axis"

In [20]:
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2009-01-01,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,2009-02-27,US Airways,821,LGA,CLT,1000,956.0,-4.0,30.0,1026.0,...,133.0,126.0,89.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN
999994,2009-02-27,US Airways,1233,LGA,CLT,1115,1116.0,1.0,17.0,1133.0,...,131.0,117.0,85.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN
999995,2009-02-27,US Airways,1455,LGA,CLT,630,623.0,-7.0,17.0,640.0,...,124.0,113.0,91.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN
999996,2009-02-27,US Airways,1489,LGA,CLT,1855,1911.0,16.0,17.0,1928.0,...,130.0,116.0,94.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN
999997,2009-02-27,US Airways,1573,LGA,CLT,1259,1317.0,18.0,13.0,1330.0,...,122.0,108.0,89.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN